/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #101010;
    font-size: 1rem;
    line-height: 1.4;
}

/*
 * Rremove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

/*
 * Rremove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Rremove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: .2rem 0;
    background: #ccc;
    color: #000;
    padding: 0.2rem 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-weight: 100;
}

a,
a:visited {
    color: inherit;
    text-decoration: inherit;
}

small {
    font-size: 60%;
}

.float-right {
    float: right;
}

.header {
    position: relative;
    width: 64rem;
    max-width: 100%;
    height: 28rem;
    margin: auto;
    background: url(../img/banner_M.jpg) no-repeat center top;
    background-size: 64rem 28rem;
    color: #fff;
}

nav {
    position: relative;
    width: 56.5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25rem;
    border-bottom: 1px solid #fff;
}

.logo {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 3.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-button {
    display: none;
    font-size: 1.875rem;
}

.nav-ul,
.menu-button {
    position: absolute;
    right: 0;
    bottom: .3rem;
}

.nav-li {
    display: inline;
    font-size: 1.5rem;
    padding: 0 1.25rem;
}

.hero-content {
    height: 18.75rem;
    text-align: center;
}

.title {
    margin: 3.5rem auto 0 auto;
    font-size: 3.75rem;
    font-weight: 400;
}

.subtitle {
    margin: 0 auto;
    font-size: 1.125rem;
}

.extra-content {
    position: absolute;
    width: 100%;
    bottom: 3.5rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.body {
    max-width: 100%;
    margin: auto;
}


section {
    width: 100%;
    margin: auto;
    text-align: center;
}

section:nth-child(even) {
    background: #F9F9F9;
}

.section-title {
    font-size: 3rem;
    margin: 3.75rem 6% 0 6%;
}

.section-description {
    font-size: 1.125rem;
    margin: 0 6%;
}

.row-container {
    width: 85%;
    margin: auto;
}


.column-container-2 {
    display: inline-block;
    width: 25rem;
    text-align: left;
}

.column-container-3 {
    width: 16rem;
    height: 21.25rem;
    margin: 2.25rem auto;
}

.column-container-4 {
    width: 12.25rem;
    height: 17.5rem;
    margin: 2.25rem auto;
}

.novel-wrapper {
    width: 16rem;
    height: 21.25rem;
    margin: auto;
    border: 1px solid rgba(151, 151, 151, 0.14);
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, 0.1);
    text-align: left;

    -webkit-transition: border .5s, box-shadow .5s;
    transition: border .5s, box-shadow .5s;
}

.novel-wrapper:hover,
.novel-wrapper::selection {
    border: 1px solid rgba(33, 125, 178, 0.53);
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, 0.45);
}

.novel-container{
    position: relative;
    top: 50%;
    left: 50%;
    width: 14.75rem;
    height: 20rem;
    margin: -10rem 0 0 -7.375rem;
}

.novel-container p{
    font-size: 0.875rem;
}

.novel-thumbnail {
    width: 14.75rem;
    height: 13.6875rem;
    background: #b3d4fc;
    background-size: contain;
}

.novel-title,
.novel-cp,
.novel-writer,
.novel-painter {
    /* Deal with too long title */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.novel-title {
    margin-top: .75rem;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.novel-cp {
    margin-top: 0;
    font-size: .75rem;
}

span.novel-writer,
span.novel-painter {
    display: inline-block;
    width: 6rem;
}

span.novel-writer {
    padding-left: 1.125rem;
    background: url(../img/icon/pen.png) no-repeat left;
}

span.novel-painter {
    padding-left: 1.5rem;
    background: url(../img/icon/pallette.png) no-repeat left;
}

.novel-preview-mask {
    display: none;

    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(88,88,88,0.6);
}

.novel-preview-wrapper{
    position: absolute;
    top: 12.5rem;
    left: 20%;
    width: 60%;
    padding: 1.25rem;
    background: #fff;
    font-weight: 400;
}

/* Style for sliders */
.slick-prev:before,
.slick-next:before {
    font-size: 1.875rem;
    color: #9B9B9B;
}

.slick-dots {
    margin: 1.25rem 0;
}

.slick-slide {
    outline: none
}

.slick-prev {
    /*left: -15px;*/
}

.slick-next {
    /*right: -15px;*/
}

.order-container {
    margin-top: 3.75rem;
    margin-bottom: 6.25rem;
    padding-left: 11.25rem;
}

.order-shop{
    background: url(../img/icon/shop_big.png) 110px 52px no-repeat;
    background-size: 2.5rem;
}

.order-online{
    background: url(../img/icon/taobao_big.png) 110px 52px no-repeat;
    background-size: 2.5rem;
}

.download-container {
    position: relative;
    margin: auto;
    width: 12.25rem;
    height: 17.5rem;
    background: #FFF;

    border: 1px solid rgba(151, 151, 151, 0.14);

    -webkit-transition: border .5s, box-shadow .5s;
    transition: border .5s, box-shadow .5s;
}

.download-container:hover,
.download-container::selection{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.download-container h3{
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0;
}

.download-container p{
    font-size: .75rem;
}

.download-thumbnail {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-top: 1.875rem;
    background: #b3d4fc;
    background-size: 100% 100%;
    border-radius: 100%;
}

.download-title {
    /* Deal with too long title */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-link {
    position: absolute;
    width: 100%;
    height: 1.4375rem;
    bottom: 1.25rem;
    color: rgba(255, 255, 255, 0);
    background: url(../img/icon/download.png) no-repeat center top;
}

.contact-form {
    width: 39rem;
    margin-bottom: 12.5rem;
    padding-top: 2.5rem;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 37.5rem;
    margin: 10px auto;
}

.contact-form input,
.contact-form textarea {
    padding-left: 1.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    font-size: 1.125rem;
    color: #9B9B9B;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #81AEE2;
}

.contact-form input {
    height: 3.75rem;
}

.contact-form textarea {
    height: 9.375rem;
    padding-top: 1.25rem;
}

.contact-form button {
    display: block;
    width: 100%;
    height: 4.375rem;
    margin: 1.25rem auto;
    background: #4A90E2;
    border: none;
    box-shadow: none;
    border-radius: 6.25rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFF;
}

.footer {
    width: 100%;
    text-align: center;
}

.copyright {
    width: 56.5rem;
    margin: 0 auto;
    border-top: 1px solid #E0E0E0;
    padding: 1.875rem 0 8.125rem 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the elrement
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elrements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elrements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 90rem) {
    /* Style adjustments for viewports that meet the condition */
    .header {
        width: 90rem;
        background: url(../img/banner_M_1440.jpg) no-repeat center top;
        background-size: 90rem 28rem;
    }

    .slick-prev {
        left: -3rem;
    }

    .slick-next {
        right: -3rem;
    }
}


@media only screen and (max-width: 60rem) {
    /* Style adjustments for viewports that meet the condition */
    body {
      font-weight: 200;
    }

    .body {
        width: 100%;
    }

    nav,
    .copyright,
    .contact-form {
        width: 90%;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-li {
        font-size: 1rem;
        padding: 0.15rem 0.3rem;
    }

    .title {
      font-size: 2rem;
    }

    .subtitle {
      font-size: 1rem;
    }

    .extra-content {
      font-size: 0.75rem;
    }

    .section-title {
      font-size: 2em;
    }

    .section-description {
      font-size: 1em;
    }

    .row-container {
        /*width: 85%;*/
    }

    .column-container-3 {
        /*margin: 36px 8px;*/
    }

    .slick-prev {
        /*left: -40px;*/
    }

    .slick-next {
        /*right: -40px;*/
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        width: 85%;
    }


}

@media only screen and (max-width: 24rem) {
  /* Style adjustments for viewports that meet the condition */

  .logo {
    font-size: 1.5rem;
  }

  .nav-li {
    font-size: 0.75rem;
    padding: 0.1rem 0.1rem;
  }

  .section-title {
    font-size: 1.5em;
  }

  .section-description {
    font-size: 0.75em;
  }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
