/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #101010;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-weight: 100;
}

a,
a:visited {
    color: inherit;
    text-decoration: inherit;
}

small {
    font-size: 60%;
}

.float-right {
    float: right;
}

.header {
    position: relative;
    width: 1024px;
    max-width: 100%;
    height: 448px;
    margin: auto;
    background: url(../img/M_cover_small.jpg) no-repeat center top;
    background-size: 1024px 700px;
    color: #fff;
}

nav {
    position: relative;
    width: 90%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-bottom: 1px solid #fff;
}

.logo {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 56px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-button {
    display: none;
    font-size: 30px;
}

.nav-ul,
.menu-button {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.nav-li {
    display: inline;
    font-size: 24px;
    padding: 0 20px;
}

.hero-content {
    height: 300px;
    text-align: center;
}

.title {
    margin: 55px auto 0 auto;
    font-size: 60px;
    font-weight: 400;
}

.subtitle {
    margin: 0 auto;
    font-size: 18px;
}

.extra-content {
    position: absolute;
    width: 100%;
    bottom: 55px;
    font-size: 14px;
    line-height: 18px;
}

.body {
    /*width: 1024px;*/
    max-width: 100%;
    margin: auto;
}


section {
    width: 100%;
    margin: auto;
    text-align: center;
}

section:nth-child(even) {
    background: #F9F9F9;
}

.section-title {
    font-size: 48px;
    margin: 60px 6% 0 6%;
}

.section-description {
    font-size: 18px;
    margin: 0 6%;
}

.row-container {
    width: 1024px;
    margin: auto;
    /*text-align: center;*/
}


.column-container-2 {
    display: inline-block;
    width: 200px;
    height: 200px;
    /*margin: 36px 34px;*/
    text-align: left;
}

.column-container-3 {
    /*display: inline-block;*/
    width: 256px;
    height: 340px;
    margin: 36px 42px;
    border: 1px solid rgba(151, 151, 151, 0.14);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
    text-align: left;

    -webkit-transition: border .5s, box-shadow .5s;
    transition: border .5s, box-shadow .5s;
}

.column-container-4 {
    display: inline-block;
    width: 196px;
    height: 280px;
    margin: 36px 20px;
}

.column-container-3:hover,
.column-container-3::selection {
    border: 1px solid rgba(33, 125, 178, 0.53);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.45);
}


.novel-container{
    position: relative;
    top: 50%;
    left: 50%;
    width: 236px;
    height: 320px;
    margin: -160px 0 0 -118px;
}

.novel-container p{
    font-size: 14px;
}

.novel-thumbnail {
    width: 236px;
    height: 219px;
    background: #b3d4fc;
    background-size: 100% 100%;
}

.novel-title,
.novel-cp,
.novel-writer,
.novel-painter {
    /* Deal with too long title */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.novel-title {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 20px;
}

.novel-cp {
    margin-top: 0;
    font-size: 12px;
}

span.novel-writer,
span.novel-painter {
    display: inline-block;
    width: 96px;
}

span.novel-writer {
    padding-left: 18px;
    background: url(../img/icon/pen.png) no-repeat left;
}

span.novel-painter {
    padding-left: 24px;
    background: url(../img/icon/pallette.png) no-repeat left;
}

.novel-preview-mask {
    display: none;

    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(88,88,88,0.6);
}

.novel-preview-wrapper{
    position: absolute;
    top: 200px;
    left: 20%;
    width: 60%;
    padding: 20px;
    background: #fff;
    font-weight: 400;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: #9B9B9B;
}

.slick-dots {
    margin: 20px 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 680px) {
    /* Style adjustments for viewports that meet the condition */

    .menu-button {
        display: block;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-ul {
        display: none;

        position: absolute;
        top: 72px;
        right: -200px;
        width: 120px;
        color: #222;
    }

    .nav-li {
        display: block;
        padding: 0 0 15px 0;
    }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
